<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.lpin.android.sdk.face">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.front" />
    <application>
        <activity
            android:name=".FaceAuthenticator"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>
    </application>
</manifest>